<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/style_register.css">

    <title><%= title %></title>
</head>

<body>

    
    <form action="/register" method="POST" class="form-container" id="theForm">


        <% if (user) { %>
        <div class="message" id="message">
            <strong><%= user.message %></strong>
        </div>
        <% } %>

        <div class="messageFail" id="messageMail" style="display: none;">
            <strong>El correo no coincide :(</strong>
        </div>

        <div class="messageFail" id="messagePassword" style="display: none;">
            <strong>La contraseña no coincide :(</strong>
        </div>

        <div class="messageFail" id="characteresPassword" style="display: none;">
            <strong>La contraseña no cumple con los caracteres mínimos :(</strong>
        </div>

        <label class="title">Registro</label>

        <div class="form">

            <div class="first-column">

                <div class="input-wrapper">

                    <label>Nombres:</label>
                    <input type="text" name="nombres" placeholder="Nombres">
                </div>

                <div class="input-wrapper">

                    <label>Identificación:</label>
                    <input type="text" name="identificacion" placeholder="Identificación">
                </div>

                <div class="input-wrapper">

                    <label>Correo corporativo:</label>
                    <input type="email" name="correo" placeholder="Correo" id="email">
                </div>

                <div class="input-wrapper">

                    <label>Contraseña <i class='bx bx-help-circle iconHelp' onclick="mostrarTexto()"></i></label>
                    <span id="tooltiptext">La contraseña debe tener mínimo 8 caracteres, una mayúscula y un número.  </span>
                    <input type="password" name="contraseña" placeholder="Contraseña" id="password">
                </div>
            </div>

            <div class="second-column">

                <div class="input-wrapper">

                    <label>Apellidos:</label>
                    <input type="text" name="apellidos" placeholder="Apellidos">
                </div>

                <div class="input-wrapper">

                    <label>Celular:</label>
                    <input type="text" name="celular" placeholder="Celular">
                </div>

                <div class="input-wrapper">

                    <label>Confirmar correo:</label>
                    <input type="email" name="correo-con" placeholder="Confirmar correo" id="verifyMail">
                </div>

                <div class="input-wrapper">

                    <label>Cofirmar contraseña:</label>
                    <input type="password" placeholder="Confirmar contraseña" id="confirmPassword">
                </div>
            </div>
        </div>

        <div class="area">

            <div>
                <label>Departamento:</label> <br>
                <select name="tipoUsuario" class="select"> 
                    <option disabled selected ="">Departamento</Option>
                    <option value="Compras">Compras</option>
                    <option value="Proyectos">Proyectos</option>
                    <option value="Diseño">Diseño</option>
                    <option value="Recursos humanos">Recursos humanos</option>
                    <option value="Operaciones y mantenimiento">Operaciones y mantenimiento</option>
                </select>
            </div>
        </div>

        <div class="btnn">

            <div>
                <button>Registrarse</button>
            </div>
        </div>
        <div>
            <a href="/login">Login</a>
        </div>
        
    </form>
</body>

<script src="/scripts/compare.js"></script>
<script src="/scripts/helpbutton.js"></script>
<script src="/scripts/characteresPassword.js"></script>



</html>




















