body {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-color: #D9D9D9;
    --primary-color: #2B78E4;
    --text-color: #566573;
    --bar-color: #FFF;
    --secondary-color: #AED6F1;
  
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;  
}

.layout {
    display: grid;
    grid-template-rows: 40px 50px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header' 'sidebar' 'main';
    height: 100vh;
}

@media (min-width: 710px) { /* 480px */
    .layout {
        display: grid;
        grid-template-rows: 5vh auto auto;
        grid-template-columns: 180px auto;
        grid-template-areas: 
        'sidebar header'
        'sidebar main'
        'sidebar category-sub';
    }

}

header {
    grid-area: header;
    background: var(--bar-color);
}


nav {
    grid-area: sidebar;
    background: var(--bar-color);
}

main {
    grid-area: main;
    background: var(--body-color);
}

.category-sub {
    display: none;
    grid-area: category-sub;
    background-color: var(--body-color);
    /* width: 100%; */
}

