
html {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --body-color: #D9D9D9;
    --primary-color: #2B78E4;
    --text-color: #A6A6A6;
    --bar-color: #FFF;
    --secondary-color: #AED6F1;
}


/* ===== Body ===== */
html {
    margin: 0;
}

body {
    background: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    background: var(--bar-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.form-container .form {
    display: flex;
}

.form-container .form .first-column .input-wrapper,
.form-container .form .second-column .input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
/* ===== Body ===== */

/* ===== buttons ===== */
.form-container .form input,
.form-container select {
    background-color: var(--body-color);
    border: none;
    height: 25px;
    border-radius: 7px;
    padding: 0 10px 0 20px;
    width: 200px;
    outline: none;
}

.form-container .area .select {
    width: 160px;
}

.form-container .btnn button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
    margin: 15px 0 5px 0;
    cursor: pointer;
}

.form-container .form label,
.form-container .area label {
    font-size: 12px;
}

.form-container a {
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.form-container .title {
    font-weight: 700;
    font-size: 15px;
    color: var(--primary-color);
    margin: 5px auto;
}

/* ===== buttons ===== */

/* ===== message ===== */
.form-container .message {
    background-color: #D5F5E3;
    display: flex;
    height: 25px;
    align-items: center;
    border: 1.5px solid #2ECC71;
    border-radius: 7px;
    margin-bottom: 10px;

}

.form-container .message strong {
    font-weight: 100;
    font-size: 15px;
    padding: 5px;
    color: #2ECC71;
}

/* ===== message ===== */

/* ===== verify ===== */
.form-container .messageFail {
    background-color: #F2D7D5;
    display: flex;
    height: 25px;
    align-items: center;
    border: 1.5px solid #ff0000;
    border-radius: 7px;
    margin-bottom: 10px;
}

.form-container .messageFail strong {
    font-weight: 100;
    font-size: 15px;
    padding: 5px;
    color: #ff0000;

}

/* ===== verify ===== */

/* === tooltip === */

.form-container .input-wrapper .iconHelp {
    color: #2B78E4;
    cursor: pointer;
}

.form-container .input-wrapper #tooltiptext {
    display: none;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    left: 50%;
    margin-left: -480px;
}


/* === tooltip === */











